<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\wwwroot\kollatix\charge-service\venv\Scripts\python.exe|C:\inetpub\wwwroot\kollatix\charge-service\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\kollatix\charge-service" />
    <add key="DJANGO_SETTINGS_MODULE" value="myservice.settings" />
    <add key="WSGI_HANDLER" value="myservice.wsgi.application" />
    <add key="WSGI_RESTART_OBJECT_NAME" value="application" />
  </appSettings>
</configuration>